@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterAdmin.cshtml";
}

<div class="page">
    <!-- Page Main -->
    <div class="page-main">
        <div class="page-content" ng-view>
        </div>
    </div>
    <!-- End Page Main-->
</div>